%div.screen
  %div.projects
    - if @facade.projects.empty?
      %div
        = I18n.t('errors.projects.missing')
    - else
      - @facade.projects.each do |project|
        - project_assignments = project.assignments(assignments: @facade.todays_assignments)

        - if project_assignments.present?
          = render 'project', project: project, assignments: project_assignments, users: @facade.users

    - if @facade.holiday_assignments.present?
      = render 'project', project: OpenStruct.new(name: 'Holiday'), assignments: @facade.holiday_assignments, users: @facade.users

    - if @facade.sick_assignments.present?
      = render 'project', project: OpenStruct.new(name: 'Sick'), assignments: @facade.sick_assignments, users: @facade.users

    - if @facade.users_without_assignments.present?
      = render 'unassigned_users', users: @facade.users_without_assignments
