!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Scheduling Dashboard Ruby'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Scheduling Dashboard Ruby'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags
  %body
    %header
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield

  :javascript
    document.addEventListener("DOMContentLoaded", function() {
      var target = document.getElementsByClassName('projects')[0];
      var screen = document.getElementsByClassName('screen')[0];

      fit(
        target,
        screen,
        {
          cover: false,
          hAlign: fit.CENTER,
          vAlign: fit.TOP,
          watch: true,
          apply: true
        }
      );
    });
